.program-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 80px auto;
}

.program img {
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
}

.program {
    position: relative;
}

.program .caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.3s;
    padding-top: 70%;
    opacity: 0;
}

.program:hover .caption {
    opacity: 1;
    padding-top: 0;
}

.program .caption img {
    width: 80px;
}

.program .caption p {
    margin-top: 10px;
    font-weight: 600;
}

@media (max-width: 767px) {
    .program .caption {
        text-align: center;
    }
    .program .caption img {
        width: 20px;
    }
    .program .caption p {
        font-size: 12px;
    }
}