.contact {
    display: flex;
    gap: 5%;
    margin: 30px 0;
}

.contact h3 {
    color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact h3  img {
    width: 35px;
    margin-left: 10px;
}


.contact ul li {
    display: flex;
    list-style: none;
    margin: 20px 0;
    align-items: center;
}

.contact .enter {
    width: 100%;
}

.contact ul li img {
    margin-right: 10px;
    width: 25px;
}

.contact form input,.contact form textarea {
    display: block;
    width: 100%;
    background-color: #e6e6e6;
    padding: 15px;
    border: 0;
    outline: 0;
    margin: 15px 0 5px;
    resize: none;
}

.contact .btn {
    background-color: #333;
    color: white;
    margin-top: 10px;
}

.contact .btn:hover img {
    animation: leftgo 1s linear infinite;
}

.contact .btn img {
    width: 20px;
    margin-left: 5px;
}

.contact span {
    display: block;
    margin: 20px;
    text-align: center;
}

@media (max-width: 1199px) {
    .contact {
        justify-content: center;
        flex-wrap: wrap;
    }
    .info {
        width: 100%;
    }
}