nav {
    width: 100%;
    color: #fff;
    display: flex;
    padding: 5px 2%;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
}

nav img {
    width: 180px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 18px;
    margin: 20px 5px;
}

nav ul li a {
    padding: 14px 20px;
    display: inline-block;
}

nav ul li:not(:last-of-type):hover {
    background-color: #fff;
    color: #333;
    border-radius: 30px;
}

.btn {
    border: 3px solid #fff;
    cursor: pointer;
    color: #333;
    background-color: #fff;
    padding: 14px 20px;
    font-size: 18px;
    border-radius: 30px;
    outline: 0;
    transition: 0.4s;
}

.btn:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: white;
}

@media (max-width: 1199px) {
    nav {
        flex-direction: column;
    }
}    
